body {
font-family: 'Roboto', sans-serif;
	padding-top: 80px;
	font-size: 16px;
}



/* Bootstrap Override */

/*NavBar*/
.navbar-brand img {
	margin-top: 5px;
	height: 50px;
}
.navbar {
/*	height: 85px;*/
	background-color: #fff;
}
.navbar-nav > li >a {
/*	color: #414242;*/
	text-transform: uppercase;
}
.navbar-nav > li.active >a {
	color: #d21e1e;
}
.nav-contact img {
	width: 20px;
	margin-right: 5px;
}
.nav-contact [class*="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(40,40,40,.3);
}
.nav-contact [class*="col-"]:last-child {
	padding-top: 10px;
}
.navbar-nav > li > a.btn {
	padding: 5px 25px;
	text-transform: capitalize;
	margin-top: 9px;
	margin-bottom: 9px;
}
.navbar-nav > li > a.btn:focus,
.navbar-nav > li > a.btn:hover,
.btn-primary:hover,
.btn-primary:focus {
	background-color: rgba(200, 30, 28,0.8);
	border-color: rgba(200, 30, 28,0.8);
}
.nav>li>a:focus, 
.nav>li>a:hover {
	background: #fff;
}
/*Button*/
.btn, .login {
	padding: 5px 20px;
}
.btn-primary , .login {
	background-color: #c81e1c;
	color: #fff;
	border-color: #c81e1c;
}

/*General Styles*/
a:hover {
	text-decoration: none !important;
	color: #d21e1e;
}
a {
	color: #414242;
}
.b-r {
	border-right: 1px solid rgba(40,40,40,.30);
}
.m-b-15 {
	margin-bottom: 15px !important;
}
.m-b-40 {
	margin-bottom: 40px;
}
p{
	color: #666666;
}
.uppercase {
	text-transform: uppercase;
}
.semi-bold {
	font-weight: 400 !important;
}
.content-box {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.strip-line {
	width: 8px;
	height: 8px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	background-color: #d21e1e;
	position: relative;
	z-index: 2;
}
.about-us .strip-line:before ,
.visa-service .strip-line:before{
	height: 150px !important;
}
.strip-line:before {
content: "";	
	width: 1px;
	height: 300px;
	position: absolute;
	top:8px;
	left: 3px;
	z-index: 1;
	border-left: 1px dashed #999999;
}
/*hero*/
.bg-1 {
	background-image: url(../img/bg-1.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}
.intro-box {
background-color: rgba(255, 255, 255,0.8);
		text-align: center;
padding: 15px;
	margin-bottom: 30px;
}
.intro-box h2 {
	font-weight: 400;
	text-transform: uppercase;
	color: #ca1d20;
	margin-bottom: 20px;
}
.form {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}
.form .form-group label {
	color: #999999;
	font-weight: 300;
		text-transform:capitalize;
	font-size: 0.7em;
	margin: 0px !important;
}
.form-control {
	border-radius: 0px !important;
	height: 25px;
}
.form-group {
	margin-bottom: 5px;
}
.title {
	color: #1a1617;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 50px;
}

.title:before,
.title:after {
	content: "";
	position: absolute;
	width:40px;
	height: 2px;
	bottom: 0;
	left:50%;
		margin-bottom: -15px;
}
.title:before {
	background-color: #1a1617;
	margin-left: -40px;
}
.title:after {
	background-color: #d41d1e;
}
/* About US*/
.about-us {
	background-image: url(../img/bg-2.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}
.about-us .overlay {
	background-color: rgba(255,255,255,0.8);
}
.content {
	padding-top: 50px;
	padding-bottom: 50px;
}
.about-us p {
	font-weight: 300;
	margin-bottom: 40px;
}


/* visa service */
.visa-service {
	background-color: #ebeeef;
}
.visa-service .title {
	margin-bottom: 90px;
}
.visa-service p { 
font-size: 0.8em;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
.visa-service .circle {
height: 160px;
	width: 160px;
	border-radius: 50%;
	border: 1px dashed #999999;
padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.visa-service  img {
	height: 150px;
}
.img-title {
	color: #ca1d20;
	margin-bottom: 20px;
}

/*testimonial */
.author-title {
	color: #1a1617;
	text-transform: uppercase;
	position: relative;
	margin-top: 50px;
	font-size: 0.8em;
	font-weight: 400;
}

.author-title:before,
.author-title:after {
	content: "";
	position: absolute;
	width:30px;
	height: 1px;
	top:0;
		margin-top: -15px;
}
.author-title:before {
	background-color: #1a1617;
	left: 0;
}
.author-title:after {
	background-color: #d41d1e;
	left: 30px;
}
.media-object {
	height: 100px;
}
.media-body p {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 25px;
}
.media-body img {
	height: 30px;
}

.slick-dots li.slick-active button:before {
	color: #ca1d20 !important;
	font-size: 10px;
}
.slick-dots li button:before {
	font-size: 10px !important;
}
.slick-dots li {
	margin: 0px !important;
}
.testimonials .container {
	overflow: hidden;
}
.testimonials .title {
	margin-bottom: 90px;
}
.footer {
	background-color: #282d30;
			color: #767e80;
font-size: 0.8em;
}
.footer ul {
	list-style-type: none;
	padding-left: 0px !important;
	font-size: 0.8em;
}
.footer ul li {
		padding: 10px 5px;
}
.footer span {
	color: #fff !important;
	margin-right: 8px;
}
.footer ul li a{
		color: #767e80 !important;

}
.footer .social img {
	display: inline-block;
}
.footer .newsletter {
	font-size: 16px !important
}
.footer .form-group label {
	color: #fff ;
	font-size: 1.2em;
	font-weight: 400;
	margin-top: 30px;
}
.footer .form-control {
	height: 35px;
	background-color: #313537;
	font-size: 0.8em;
	border-color: transparent !important;
}
.social {
	margin-top: 20px;
}
.footer .img-logo {
		display: inline-block;
		margin-top: 70px;
	}
	.footer .logo-content {
		text-align: center;
	}
.footer .input-group-addon {
	background-color: #575e63;
	border-radius: 0px;
	color: rgba(255,255,255, 0.4);
	font-size: 0.8em;
		border-color: transparent !important;

}
.address .add-cont {
	font-size: 0.9em;
}
.m-tb-15 {
	margin-bottom: 15px;
	margin-top: 15px;
}
.footer.bottom .container {
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #2f3437;
}
.footer.bottom p {
		color: #767e80 !important;
	font-size: 0.9em;
}
@media (min-width: 768px) {
	.intro-box {
		background-color: rgba(255, 255, 255,0.6);
		height: 400px;
		width: 400px;
		border-radius: 50%;
		padding: 90px 40px 40px 40px;
		position: relative;
		margin-left: auto;
	}
	.intro-box:before {
		content: "";
		position: absolute;
		 top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
		border-radius: 50%;
		border: 1px dashed #999999;
	}
	.intro-box p {
		max-width: 300px;
		text-align: center;
		word-spacing: 3px;
		font-size: 0.9em;
	}
	.bg-1 {
			padding-top: 100px;
	padding-bottom: 100px;
	}
	.content {
		padding-top: 80px;
	padding-bottom: 80px;
	}
	.form {
		max-width: 300px;
	}
	.about-us .l-h-35{
	line-height: 35px;
}
	.media-body {
		padding-left: 30px;
	}
	.newsletter {
		max-width: 250px;
	}
	.left {
	float: left;
}
.right {
	float: right;
}
	
}
@media (max-width: 767px) {
	.nav-contact img  {
		margin-left: 0px !important;
	}
}
@media (max-width: 991px) {
	.navbar-header,
	.navbar-nav>li,
	.navbar-collapse.pull-right{
		float: none !important;
	}
	
	.nav-contact > li .b-r,
	.nav-contact [class*="col-"]{
		border: none !important;
	}
	.navbar-collapse.collapse {
    display: none !important;
}
	.navbar-collapse.collapse.in,
	.navbar-toggle {
    display: block !important;
}
	.navbar-collapse .nav-contact .text-right {
		text-align: left !important;
	}
	.navbar-brand img  {
		height: 40px;
		margin-top: 0px;
	}
	.navbar-header {
		height: 70px;
		background: #fff;
	}
	.navbar-toggle {
    border: 1px solid #333;
		margin-top: 17px;
		margin-bottom: 17px;
}
	.icon-bar {
		background: #333;
	}
	.nav-contact img {
		margin-left: 15px;
	}
	.intro-box {
margin-right: auto;
		}
}

@media (max-width: 1024px) {
	.strip-line {
		display: none;
	}
}
@media (max-width: 500px){
	.intro-box h2 {
		font-size: 1.3em;
	}
	.intro-box p {
		    font-size: 0.9em;
    font-weight: 300;
	}
}